* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lavender: hsl(250, 26%, 44%);
    --dark-purple: hsl(255, 45%, 18%);
    --soft-rose: hsl(298, 28%, 68%);
    --white: hsl(0, 0%, 100%);
    --red: hsl(0, 57%, 41%);
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--lavender);
    color: var(--dark-purple);
    font-size: 16px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form {
    background-color: var(--white);
    width: clamp(300px, 80%, 550px);
    
}